---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="lazydukk/portal-gun">
  <div class="flex h-screen">
    <div
      class="flex flex-1 items-center justify-center bg-cp-crust p-2 text-4xl"
    >
      <h1 class="lg:text-7xl font-bold text-cp-text md:text-4xl">
        lazydukk/portal-gun
      </h1>
    </div>
    <div class="flex flex-1 items-center justify-center p-2 text-4xl">
      <div class="p-6">
        <img
          src="../src/images/lazy.jpg"
          alt="lazy sig"
          class="transition delay-150 duration-1000 animate-bounce ease-in-out shadow-cp-overlay0 rounded-s"
        />
      </div>
    </div>
  </div>
</MainLayout>
