---
import "../style/global.css";
const siteTitle = "lazydukk/portal-gun | advanced alien";
const description =
	"lazydukk AKA bdas is a 16y/o self taught programmer / designer / producer who plays scrabble";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={description} />
		<title>{siteTitle}</title>
		<meta name="theme-color" content="#000000" />
	</head>
	<body class="h-screen bg-[#11111b]">
		<main>
			<div class="container h-screen">
				<div class="flex h-screen w-screen">
					<div class="m-auto">
						<a
							href="https://github.com/lazydukk/"
							class="font-black text-transparent text-8xl bg-clip-text bg-gradient-to-r from-cpcn-blue to-cpcn-green sm:text-1xl a-hover"
							>lazydukk/portal-gun</a
						>
						<div
							class="flex items-center justify-center p-4 align-middle"
						>
							<p
								class="mt-10 text-cpcn-subtext1 text-xl font-light md:text-lg sm:text-sm"
							>
								from planet C137
							</p>
						</div>
						<div
							class="flex items-center justify-center p-2 align-middle"
						>
							<div class="justify-between">
								<a
									href="https://github.com/lazydukk/"
									class="text-cpcn-subtext0 hover:font-bold"
									>Github</a
								>
								<a
									href="https://instagram.com/lazydukk/"
									class="text-cpcn-subtext0 hover:font-bold ml-7"
									>Instagram</a
								>
								<a
									href="https://Twitter.com/lazydukk/"
									class="text-cpcn-subtext0 hover:font-bold ml-7"
									>Twitter</a
								>
							</div>
							<div class=""></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container h-screen">
				<div class="flex">
					<div class="m-auto">
						<div class="flex justify-center items-start w-screen">
							<h1 class="mt-7 font-bold text-5xl text-cpcn-teal">
								About
							</h1>
						</div>
						<div
							class="flex items-center justify-center p-4 align-middle"
						>
							<p
								class="mt-3 text-lg text-cpcn-subtext1 font-light"
							>
								lazydukk is a 16 y/o self-taught programmer / designer / producer / scrabbler hailing from Sri Lanka
							</p>
						</div>
						<div
							class="flex items-center justify-center p-4 align-middle"
						>
							<p class="text-lg text-cpcn-subtext1 font-light">
								Still learning lots of things as more things spark my curiosity and loves bulding <b>"shit"</b
								>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
