---
import "../style/global.css";
const siteTitle = "lazydukk/portal-gun | advanced alien";
const description =
	"lazydukk AKA bdas is a 16y/o self taught programmer / designer / producer who plays scrabble";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={description} />
		<title>{siteTitle}</title>
		<meta name="theme-color" content="#000000" />
	</head>
	<body class="h-screen bg-[#11111b]">
		<main>
			<div class="flex h-screen w-screen">
				<div class="m-auto">
					<a
						href="https://github.com/lazydukk/"
						class="font-black text-transparent text-8xl bg-clip-text bg-gradient-to-r from-cpcn-blue to-cpcn-green sm:text-1xl a-hover"
						>lazydukk/portal-gun</a
					>
					<div class="flex items-center justify-center p-4 align-middle">
						<p class="mt-10 text-cpcn-subtext1 text-xl font-light md:text-lg sm:text-sm">from planet C137</p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
