/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Medium.ttf") format('truetype');
    font-family: Poppins-Black;
    src: url("../fonts/Poppins-Black.ttf") format('truetype');
    font-family: Poppins-Thin;
    src: url("../fonts/Poppins-Thin.ttf") format('truetype');
    font-family: Poppins-Light;
    src: url("../fonts/Poppins-Light.ttf") format('truetype');
}

.a-hover:hover {
    color: #fff;
    font-weight: 800;
    transition: 0.7s;

}
.link-hover:hover {
    transition: 1s;
}